.startBackground {
	background-image: url(../img/background.jpg);
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
}
.hidden {
	display: hidden;
}
.topContent {
	position: absolute;
	top: 40px;
	left: 0px;
}
.bottomContent {
	position: absolute;
	bottom: 10px;
	left: 0px;
}
.leftContent {
	position: absolute;
	left: 5px;
	top: 0px; 
}
.rightContent {
	position: absolute;
	right: 5px;
	top: 0px;
}
.cardContent {
	margin:auto;
	width: 80%;
}
.cardsInHand {
	width: 70px;
	display: relative;
	left:-30px;
}